<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <title>My Website</title>
</head>

<body>
    <div class="container">

        <!-- Page Heading -->
        <h1 class="my-4">My Blog
        </h1>

        <div class="row">
            {% for post in posts %}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h4 class="card-title">
                            {{post.title}}
                        </h4>
                        <p class="card-text">{{post.username}}</p>
                        <p class="card-text">{{post.comment}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</body>

</html>